.gameInfo {
  font-size: 36px;
}

.board {
  display: inline-flex;
  flex-direction: column;
  border: 0 solid black;
  border-top-width: 1px;
  border-left-width: 1px;
}

.black {
  color: black;
}

.white {
  color: white;
}

.gameInfo {
  display: flex;
}

.gameInfo .spacer {
  flex: 1;
}
